<div *ngIf="!name;else forminfo">
  <form [formGroup]="rForm" #heroForm="ngForm">
<div class="form-cotaier">
  <div class="row columns">
    <h1>My Reactive Form</h1>
    <label> Name</label>
      <input type="text"  class="input" formCotrolName="name"><br/><br/>
    <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['description'].touched"></div>
    <label>Description </label>
      <textarea type="text" class="input" formCotrolName="description"></textarea> <br/><br/>
   
   
    <label for="validate" >minimum of 3 character</label>
    <input type="checkbox" name="validate" formControlName="validate" value="1" >On
    <button  class="button expanded "  [disabled]="!heroForm.valid" (click)="addPost(rForm.value)">form</button>
  </div>
</div>
  </form>

</div>
<ng-template #forminfo>
  <div class="form-cotaier">
    <div class="row coloums">
      <h1>
        {{name}}</h1>
        <p>{{description}}</p>
      
    </div>
  </div>

</ng-template>